@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(50, 50, 50);
}

/* Cabeçalho do site ------------------------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    padding: 20px;
}

li {
    display: flex;
    gap: 20px;
    padding: 10px;
}

a {
    color: rgb(89, 89, 226);
}

h3 > a:hover {
    background-color: black;
}

#logo {
    width: 350px;
}


/* Primeira "Section" - Sobre Mim e Contato ------------------------------------------------------------------------- */

.meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(244, 244, 244);
    padding-top: 60px;
    max-width: 80%;
}

#titulo {
    padding-left: 120px;
    font-size: 23px;
    color: rgb(89, 89, 226);
}

#descricao {
    padding-top: 10px;
    padding-left: 150px;
    font-size: 18px;
}

#contato {
    padding-top: 20px;
    padding-left: 120px;
    font-size: 23px;
    color: rgb(89, 89, 226);
}

#github {
    width: 109px;
    height: 109px;
    padding-top: 10px;
    padding-left: 145px;
}

#linkedin {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

/* Segunda "Section" - Projetos ------------------------------------------------------------------------- */

.projetos {
    color: rgb(244, 244, 244);
    padding-top: 50px;
    margin-top: 50px;
    background-color: rgb(60, 60, 60);
    padding-bottom: 40px;
}

.projetos > p {
    max-width: 70%;
}

.projetosquadrados {
    display: flex;
    margin-right: 100px;
}

#quadrado {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 120px;
    font-size: 25px;
    width: 300px;
    height: 300px;
    color: rgb(231, 230, 230);
    background-color: rgb(10, 10, 10);
    border: 3px solid rgb(89, 89, 226);
    border-radius: 20px;
}

#descricaoprojeto {
    font-size: 18px;
    padding-top: 20px;
}

#cliqueaqui {
    padding-top: 50px;
    font-size: 22px;
}

/* Terceira "Section" - Instituições ------------------------------------------------------------------------- */

#instituicao {
    color: rgb(89, 89, 226);
    padding-top: 10px;
    padding-left: 150px;
    font-size: 21px;
}

#instituicao2 {
    padding-top: 10px;
    padding-left: 150px;
    font-size: 16px;
    padding-bottom: 20px;
}

/* Quarta "Section" - Habilidades ------------------------------------------------------------------------- */

.habilidades {
    color: rgb(244, 244, 244);
    padding-top: 50px;
    margin-top: 50px;
    background-color: rgb(60, 60, 60);
}

#habilidadestitulo {
    padding-left: 120px;
    font-size: 23px;
    color: rgb(89, 89, 226);
}

#habilidades {
    padding-top: 10px;
    padding-left: 150px;
    font-size: 18px;
    max-width: 70%;
    padding-bottom: 50px;
}

/* Rodapé do site - Formulario ------------------------------------------------------------------------- */

footer {
    flex-direction: column;
    color: rgb(244, 244, 244);
    padding-top: 60px;
    max-width: 80%;
    padding-bottom: 50px;
}

#formulariotitulo {
    padding-left: 120px;
    font-size: 23px;
    color: rgb(89, 89, 226);
    padding-bottom: 20px;
}

input {
    margin: 10px;
    margin-left: 150px;
    color: white;
}

textarea {
    margin: 10px;
    margin-left: 150px;
}

form input,
form textarea {
    width: 100%;
    padding: 15px 10px;
    background-color: rgb(10, 10, 10);
    font-size: 18px;
}

#botao {
    width: 120px;
    cursor: pointer;
}

/* Projetos ------------------------------------------------------------------------- */

.imagens {
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.projeto {
    color: rgb(244, 244, 244);
    padding-top: 60px;
}

#projeto {
    width: 400px;
    height: 400px;
}

#descricaop {
    padding-top: 10px;
    padding-left: 150px;
    font-size: 18px;
    padding-bottom: 50px;
    max-width: 80%;
}

#link {
    padding-left: 120px;
    font-size: 23px;
    color: rgb(133, 133, 245);
}